@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

/* font-family: 'Fira Sans', sans-serif; */

/* Customize your main colors in :root variables */
:root {
  --main-background-color: #000000;
  --card-background-color: rgba(0, 0, 0, 0.5);
  --countdown-background-color: #433765;
  --main-text-color: #d94242;
  --title-text-color: #ffffff;
  --main-color-bg: #17232a;
}

body {
  background-color: var(--main-color-bg);
  background: url("img/cubes2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "VT323", monospace;
  font-size: 1.1em;
  background-color: #000000;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}
